.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.headerLeft, .headerRight {
    flex: 1;
}

.headerLeft h1 {
    color: var(--orange);
}

.headerLeft h3 {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--orange);
}

.headerLeft .btnWrap {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.headerLeft a {
    width: 100%;
    max-width: 200px;
    padding: .5rem ;
    font-size: .9rem;
    font-weight: 500;
    background-color: var(--opacity-orange-1);
    border-radius: .2rem;
    cursor: pointer;
    text-align: center;
}

.headerLeft a:hover {
    transform: scale(1.1);
    background-color: var(--orange);
    transition: all ease-in .2s;
}

.imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.profileImg {
    max-width: 50%;
    border: 8px solid var(--orange);
    border-radius: 0 2rem 0 2rem;
}

@media (max-width: 1320px){
    .profileImg {
        max-width: 60%;
    }
}


@media (max-width: 960px){
    .header {
        display: block;
    }

    .headerLeft .btnWrap {
        flex-direction: column;
    }

}

@media (max-width: 768px){
 
    .profileImg {
        max-width: 70%;
    }

}
