@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
} 

:root {
    --black-bg: #000000;
    --dark-bg: #191919;
    --light-bg: #e0e0e0;
    --opacity-light-bg: #e0e0e03f;
    --white-bg: #ffffff;
    --black-text: #000000;
    --dark-text: #191919;
    --light-text: #e0e0e0;
    --white-text: #ffffff;
    --opacity-grey-bg: #4a4949c8;
    --opacity-light-grey-bg: #b8b6b641;
    --light-grey: #9a999934;
    --orange: #d6a728;
    --opacity-orange: #e9d59fdf;
    --opacity-orange-1: #e0ba513c;
    --opacity-orange-2: #e0ba51df;
    --light-orange: #fbf9f4;

    --container-lg: 75%;
    --container-md: 86%;
    --container-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 16;
    font-family: poppins;
    background-color: var(--light-bg);
    line-height: 1.7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px var(--white-bg) inset !important;
}

h1 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}


@media (max-width: 1140px){
    h1 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 1rem;
    }
}

@media (max-width: 768px){
    
    h1 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }

}

@media (max-width: 420px){
    
    h1 {
        font-size: 1.6rem;
    }
    
    h3 {
        font-size: 1.1rem;
    }
    
    p {
        font-size: .9rem;
    }

}